{% extends "cart/layout.html" %}

{% block body %}

    {% if message %}
        <div class="login-message">{{ message }}</div>
    {% endif %}
   <div class="login-container">
    <h2>Login</h2>
    <form action="{% url 'login' %}" method="post" class="login-form">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login" class="login-btn">
    </form>

    <a href="{% url 'create_user' %}" class = "create-user-btn"> Create a New User </a>

</div>
{% endblock %}